.main-header {
  color: orange;
  text-align: center;
}

.funny-answer {
  color: green;
  text-align: center;
}

.unfunny-answer {
  color: red;
  text-align: center;
}

.selectable-image {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid black;
}

.selected-box-pair {
  display: flex;
  justify-content: center;
}

.selected-box {
  width: 300px;
  height: 300px;
  border: 2px solid orange;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectable-image-group {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
}
